---
layout: default
title: Topics
description: Everything I've written, grouped by topic.
permalink: /tags/
---

{% include page-title.html title=page.title description=page.description %}

<ul class="flex flex-wrap gap-x-5 gap-y-2 text-[16px]">
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
    {% assign tag_slug = tag[0] | slugify %}
    <li>
      <a href="{{ '/tags/' | append: tag_slug | append: '/' | relative_url }}" class="link">{{ tag[0] }}</a>
      <span class="date">{{ tag[1].size }}</span>
    </li>
  {% endfor %}
</ul>
